{
  "parse": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "rules": {
    "react/react-in-jsx-scope": 0,
    "import/no-unresolved": [2, {"commonjs": true, "amd": true}]
  }
}
